
@font-face {
    font-family: 'florante_at_lauraitalic';
    src: url('/assetts/florli__-webfont.eot');
    src: url('/assets/florli__-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/florli__-webfont.woff2') format('woff2'),
         url('/assets/florli__-webfont.woff') format('woff'),
         url('/assets/florli__-webfont.ttf') format('truetype'),
         url('/assets/florli__-webfont.svg#florante_at_lauraitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'florante_at_lauraregular';
    src: url('/assets/florlrg_-webfont.eot');
    src: url('/assets/florlrg_-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/florlrg_-webfont.woff2') format('woff2'),
         url('/assets/florlrg_-webfont.woff') format('woff'),
         url('/assets/florlrg_-webfont.ttf') format('truetype'),
         url('/assets/florlrg_-webfont.svg#florante_at_lauraregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'action_manbold_italic';
    src: url('/assets/action_man_bold_italic-webfont.eot');
    src: url('/assets/action_man_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/action_man_bold_italic-webfont.woff2') format('woff2'),
         url('/assets/action_man_bold_italic-webfont.woff') format('woff'),
         url('/assets/action_man_bold_italic-webfont.ttf') format('truetype'),
         url('/assets/action_man_bold_italic-webfont.svg#action_manbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'action_manbold';
    src: url('/assets/action_man_bold-webfont.eot');
    src: url('/assets/action_man_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/action_man_bold-webfont.woff2') format('woff2'),
         url('/assets/action_man_bold-webfont.woff') format('woff'),
         url('/assets/action_man_bold-webfont.ttf') format('truetype'),
         url('/assets/action_man_bold-webfont.svg#action_manbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'action_manitalic';
    src: url('/assets/action_man_italic-webfont.eot');
    src: url('/assets/action_man_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/action_man_italic-webfont.woff2') format('woff2'),
         url('/assets/action_man_italic-webfont.woff') format('woff'),
         url('/assets/action_man_italic-webfont.ttf') format('truetype'),
         url('/assets/action_man_italic-webfont.svg#action_manitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'action_man_shadedregular';
    src: url('/assets/action_man_shaded-webfont.eot');
    src: url('/assets/action_man_shaded-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/action_man_shaded-webfont.woff2') format('woff2'),
         url('/assets/action_man_shaded-webfont.woff') format('woff'),
         url('/assets/action_man_shaded-webfont.ttf') format('truetype'),
         url('/assets/action_man_shaded-webfont.svg#action_man_shadedregular') format('svg');
    font-weight: normal;
    font-style: normal}


@font-face {
    font-family: 'action_manregular';
    src: url('/assets/action_man-webfont.eot');
    src: url('/assets/action_man-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/action_man-webfont.woff2') format('woff2'),
         url('/assets/action_man-webfont.woff') format('woff'),
         url('/assets/action_man-webfont.ttf') format('truetype'),
         url('/assets/action_man-webfont.svg#action_manregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
